.coin {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background: #f3eb06;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  z-index: 10;
}

h2{
  letter-spacing: 2px;
}

.coin-flip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.coin-face, .question-mark {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  border-radius: 50%;
  backface-visibility: hidden;
  transition: opacity 0.5s;
  background: yellow;
  z-index: 10;
}

.question-mark{
  z-index: 1;
}

.coin.flipping .coin-face {
  opacity: 0;
}


.coin .coin-face.show {
  opacity: 1;
}

.flipping {
  animation: flip 2s ease-in-out;
}

.coin.flipping .coin-face {
  display: none;
  transition: all 0.1s ease-in-out;
}

.show{
  display: flex;
  z-index: 10;
}

.hidden{
  display: none;
}

.bet, input[type="text"], input[type="select"]{
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

input[type="number"], select{
  margin-left: 1rem;
  padding: 0.2rem 0.5rem;
  width: 5rem;
}

select{
  cursor: pointer;
}


p.bet{
 margin-top: 2rem;
}


@keyframes flip {
  0% {
    transform: translateY(0) rotateX(0);
  }
  50% {
    transform: translateY(-10rem) rotateX(720deg);
  }
  0% {
    transform: translateY(0) rotateX(0);
  }
}
